<%= form_with(model: team, class:"needs-validation" , data: { controller: 'nested-form', nested_form_wrapper_selector_value: '.nested-form-wrapper' } ) do |form| %>
  <%= form.hidden_field :user_id, value: current_user.id%>

  <div>
    <%= form.label :name, "Nome da equipa", style: "display: block" %>
    <%= form.text_field :name, class: "form-control" %>
  </div>

  <div>
    <%= form.label :description, style: "display: block" %>
    <%= form.text_area :description, class: "form-control" %>
  </div>

  <br>
  <h6 class="text-uppercase bg-light p-1">Membros</h6>
  <div class="list-group list-group-numbered">
    <template data-nested-form-target="template">
      
      <%= form.fields_for :members, Member.new, child_index: 'NEW_RECORD' do |members_form| %>
        <%= render partial: "member_fields", locals: { f: members_form }%>
      <% end %>
    </template>

    <%= form.fields_for :members do |members_form| %>
      <%= render partial: "member_fields", locals: { f: members_form } %>
    <% end %>
  </div>

  <div data-nested-form-target="target"></div>

  <button type="button" class="btn btn-soft-info rounded-pill waves-effect waves-light p-1 mb-2" data-action="nested-form#add">Adicionar Membro</button>
  
  <br>
  <div>
    <%= form.submit "Salvar", class:"btn btn-primary waves-effect waves-light", data: { turbo:false }%>
  </div>
<% end %>
