<div class="account-pages mt-5 mb-5">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-8 col-lg-6 col-xl-4">
                        <div class="card bg-pattern">

                            <div class="card-body p-4">
                                
                                <div class="text-center w-75 m-auto">
                                    <div class="auth-brand">
                                        <a href="/" class="logo logo-dark text-center">
                                            <span class="logo-lg">
                                                <img src="<%= asset_path('images/logo-mobile.png') %>" style="margin-left: -40px"  alt="small logo">
                                            </span>
                                        </a>
                                    </div>
                                </div>
                                <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
                                    <div class="mb-3">
                                        <label for="emailaddress" class="form-label">Email</label>
                                        <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form-control" %>
                                    </div>

                                    <div class="mb-3">
                                        <label for="password" class="form-label">Palavra-passe</label>
                                        
                                        <div data-controller="password-visibility">
                                            <%= f.password_field :password, autocomplete: "current-password" , class:"form-control", data:{"password-visibility-target":"input"}, spellcheck:"false" %>

                                            <!--<button type="button" data-action="password-visibility#toggle">
                                                <span data-password-visibility-target="icon">Eye</span>
                                            </button> -->
                                        </div>

                                    </div>
                                    <% if devise_mapping.rememberable? %>
                                        <div class="field">
                                        
                                        </div>
                                        <div class="mb-3">
                                            <div class="form-check">
                                                <%= f.check_box :remember_me, class:"form-check-input" %>
                                                <%= f.label :remember_me, "Lembrar-me", class:"form-check-label"%>
                                            </div>
                                        </div>
                                    <% end %>

                                    <div class="actions mb-3">
                                        <%= f.submit "Log in", class:"btn btn-primary", data:{turbo:"false"} %>
                                    </div>
                                <% end %>
                                <%= render "users/shared/links" %>


                            </div> <!-- end card-body -->
                        </div>

                    </div> <!-- end col -->
                </div>
                <!-- end row -->
            </div>
            <!-- end container -->
        </div>
        <!-- end page -->


        <footer class="footer footer-alt">
            2024 - <script>document.write(new Date().getFullYear())</script> &copy; by <a href="" class="text-white-50">Okueca</a> 
        </footer>