<div id="<%= dom_id game %>">
  <p>
    <strong>First team:</strong>
    <%= game.first_team_id %>
  </p>

  <p>
    <strong>Second team:</strong>
    <%= game.second_team_id %>
  </p>

  <p>
    <strong>Result:</strong>
    <%= game.result %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= game.status %>
  </p>

</div>
