<% if notice != nil %>
<div class="row mt-2">
    <div 
    data-controller="notification"
    data-notification-delay-value="8000"
    data-transition-enter-from="opacity-0 translate-x-6"
    data-transition-enter-to="opacity-100 translate-x-0"
    data-transition-leave-from="opacity-100 translate-x-0"
    data-transition-leave-to="opacity-0 translate-x-6"
    class="col-12 row alert alert-success alert-dismissible bg-success text-white border-0 fade show transition transform duration-1000 hidden" role="alert">
        <div class="col-10">
          <%= notice %>
        </div>
        <!---
        <div class="col-2">
          <button type="button" class="btn-close btn-close-white" data-bs-dismiss="alert" aria-label="Close" data-action="notification#hide"></button>
        </div>
        ----->
    </div>
<div>
<% end %>


<div class="row mt-2">
<% if current_user.role == "admin" %>
  <div class="col-sm-4">
    <%= link_to "+ Criar um Jogo", new_game_path,class:"btn btn-danger rounded-pill waves-effect waves-light mb-3", data:{turbo:"false"}%>
  </div>
  <% end%>
<div>

<div class="row">
<% @games.each do |game| %>
 
     <div class="col-lg-4 order-lg-2 order-1">
        <div class="card">
            <div class="card-body">
                <h4 class="header-title mb-3">Torneio fut7 Bravos</h4>

                <div class="text-center" dir="ltr">
                    <div class="row mt-2">
                        <div class="col-6">
                            <h3><%= game.result.split(':').first%></h3>
                            <span class="mx-2"><i class="mdi mdi-checkbox-blank-circle text-blue"></i> <%= game.first_team.name%></span>

                        </div>
                        <div class="col-6">
                            <h3><%= game.result.split(':').last%></h3>

                            <span class="mx-2"><i class="mdi mdi-checkbox-blank-circle text-muted"></i> <%= game.second_team.name%></span>

                        </div>
                    </div>
                    <% if current_user.role == "admin"%>
                      <p class="text-muted font-15 font-family-secondary mb-0 mt-3">
                        <%= link_to "Atualizar estado do jogo", edit_game_path(game) %> |
                      </p>
                    <% end%>
                </div>

            </div>
        </div> <!-- end card-->
    </div> <!-- end col -->
  <% end %>
</div>
<!-- end row -->