<%= form_with(model: activity, class: "needs-validation row g-3", data: { controller: 'nested-form', nested_form_wrapper_selector_value: '.nested-form-wrapper' }) do |form| %>

  <div class="col-12">
    <%= form.label :name, "Nome da Atividade", class: "form-label fw-bold" %>
    <%= form.text_field :name, class: "form-control shadow-sm rounded", placeholder: "Digite o nome da atividade" %>
  </div>

  <div class="col-12">
    <%= form.label :location, "Localização", class: "form-label fw-bold" %>
    <%= form.text_field :location, class: "form-control shadow-sm rounded", placeholder: "Local da atividade" %>
  </div>

  <div class="col-12">
    <%= form.label :date_text, "Datas de Início e Fim", class: "form-label fw-bold" %>
    <%= form.text_field :date_text, class: "form-control shadow-sm rounded", data: { controller: "single-date-for-date-end" }, placeholder: "Selecione a data de início e fim" %>
  </div>

  <div class="col-6">
    <%= form.label :start_hour, "Hora de Início", class: "form-label fw-bold" %>
    <%= form.text_field :start_hour, class: "form-control shadow-sm rounded", placeholder: "Ex: 09:00" %>
  </div>

  <div class="col-6">
    <%= form.label :end_hour, "Hora de Fim", class: "form-label fw-bold" %>
    <%= form.text_field :end_hour, class: "form-control shadow-sm rounded", placeholder: "Ex: 17:00" %>
  </div>

  <div class="col-6">
    <%= form.label :price, "Preço", class: "form-label fw-bold" %>
    <%= form.text_field :price, class: "form-control shadow-sm rounded", placeholder: "Digite o preço" %>
  </div>

  <div class="col-6">
    <%= form.label :price_by, "Preço Por", class: "form-label fw-bold" %>
    <%= form.select :price_by, Activity.price_bies.keys.map { |p| [t(p), p] }, {}, { class: "form-control shadow-sm rounded" } %>
  </div>

  <div class="col-12">
    <%= form.label :description, "Sobre", class: "form-label fw-bold" %>
    <%= form.text_area :description, class: "form-control shadow-sm rounded", placeholder: "Descrição da atividade", rows: 4 %>
  </div>

  <div class="col-12 d-flex justify-content-end mt-4">
    <%= form.submit "Salvar", class: "btn btn-primary waves-effect waves-light px-4 py-2" %>
  </div>

<% end %>