<!DOCTYPE html>
<html>
  <head>
    <title>Bravos</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta content="Bravos | Torneio de Futebol 5" name="description" />
    <meta name="theme-color" content="#91ff46" />

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= javascript_importmap_tags %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <link rel="icon" type="image/x-icon" href="<%= asset_path('images/logo-sm.png') %>">

    <!-- Plugins css Alterado-->
    <link href="<%= asset_path('libs/flatpickr/flatpickr.min.css') %>" rel="stylesheet" type="text/css" />
    <link href="<%= asset_path('libs/selectize/css/selectize.bootstrap3.css') %>" rel="stylesheet" type="text/css" />

    <!-- Stylesheet e Js do TRIX--->
    <link rel="stylesheet" type="text/css" href="https://unpkg.com/trix@2.0.0/dist/trix.css">
    <script type="text/javascript" src="https://unpkg.com/trix@2.0.0/dist/trix.umd.min.js"></script>

    <!-- Bootstrap css -->
    <link href="<%= asset_path('bootstrap.min.css') %>" rel="stylesheet" type="text/css" />

    <!-- App css -->
    <link href="<%= asset_path('app.min.css') %>" rel="stylesheet" type="text/css" id="app-style"/>

    <!-- icons     -->
    <%= stylesheet_link_tag 'icons' %>

    <!-- Head js -->
    <script src="<%= asset_path('jquery.min.js') %>"></script>
    <script src="<%= asset_path('select2.min.js') %>"></script>
    <script src="<%= asset_path('head.js') %>"></script>
    <script src="<%= asset_path('select2.min.css') %>"></script>

    <link href="<%= asset_path('libs/fullcalendar/main.min.css') %>" rel="stylesheet" type="text/css" />
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />

    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <script src="<%= asset_path('libs/apexcharts/apexcharts.min.js') %>"></script>
    <style>
        /* Optional: Styling for demonstration */
        .disabled {
            pointer-events: none; /* Prevents mouse clicks */
            opacity: 0.5; /* Adds visual indication of disabled state */
        }
        body {
            background-image: url(' <%= asset_path('images/backgroundBravos.png') %> ');
            background-size: cover; /* Ensures the image covers the entire background */
            background-repeat: no-repeat; /* Prevents the image from repeating */
            background-position: center; /* Centers the image */
            background-attachment: fixed; /* Keeps the image fixed when scrolling */
        }
    </style>

  </head>

  <body>
        <!-- Begin page -->
        <div id="wrapper">
            <!-- ============================================================== -->
            <!-- Start Page Content here -->
            <!-- ============================================================== -->

            <div class="content-page">

                <!-- ========== Topbar Start ========== -->
                <% if current_user != nil %>
                    <div class="navbar-custom">
                        <div class="topbar">
                            <div class="topbar-menu d-flex align-items-center gap-1">

                                <!-- Topbar Brand Logo -->
                                <div class="logo-box">
                                    <!-- Brand Logo Light -->
                                    <a data-turbo="false" href="/" class="logo-light">
                                        <img src="<%= asset_path('images/logo-light.png') %>" alt="logo" class="logo-lg">
                                        <img src="<%= asset_path('images/logo-sm.png') %>" alt="small logo" class="logo-sm">
                                    </a>

                                    <!-- Brand Logo Dark -->
                                    <a data-turbo="false" href="/" class="logo-dark">
                                        <img src="<%= asset_path('images/logo-dark.png') %>" alt="dark logo" class="logo-lg">
                                        <img src="<%= asset_path('images/logo-sm.png') %>" alt="small logo" class="logo-sm">
                                    </a>
                                   
                                    
                                </div>

                                <!-- Sidebar Menu Toggle Button
                                <button class="button-toggle-menu ">
                                    <i data-feather="menu"></i>
                                </button>
                                -->
                                <div class="row d-block d-sm-none">
                                    
                                    <a data-turbo="false" class="nav-link dropdown-toggle nav-user me-0 waves-effect waves-light" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false">
                                        <i data-feather="menu"></i>
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-end profile-dropdown ">

                                        <a data-turbo="false" href="<%= teams_path %>" class="dropdown-item notify-item">
                                            <i class="fe-user me-1"></i>
                                            <span>Painel</span>
                                        </a>

                                        <!-- item-->
                                        <a data-turbo="false" href="<%= teams_path %>?user=current" class="dropdown-item notify-item">
                                            <i class="fe-settings me-1"></i>
                                            <span>Minhas Equipas</span>
                                        </a>

                                        <%= form_with url: destroy_user_session_path, method: :delete, class:"dropdown-item notify-item" do |form| %>
                                            <%= form.button class:"dropdown-item notify-item", data:{turbo:"false"} do%>
                                                Sair
                                            <% end%>
                                        <% end %>
                                    </div>

                                    
                                </div>

                                <!-- Dropdown Menu -->
                                <div class="dropdown d-none d-xl-block">
                                    <a data-turbo="false" class="nav-link dropdown-toggle waves-effect waves-light" data-bs-toggle="dropdown" href="<%= teams_path %>" role="button" aria-haspopup="false" aria-expanded="false">
                                        Painel
                                        <i class="mdi mdi-chevron-down ms-1"></i>
                                    </a>
                                </div>

                                <div class="dropdown dropdown-mega d-none d-xl-block">
                                    <a data-turbo="false" class="nav-link dropdown-toggle waves-effect waves-light" data-bs-toggle="dropdown" href="<%= teams_path %>?user=current" role="button" aria-haspopup="false" aria-expanded="false">
                                        Minhas Equipas
                                        <i class="mdi mdi-chevron-down ms-1"></i>
                                    </a>
                                </div>

                                <div class="dropdown dropdown-mega d-none d-xl-block">
                                    <%= form_with url: destroy_user_session_path, method: :delete do |form| %>
                                        <%= form.button class:"dropdown-item notify-item", data:{turbo:"false"} do%>
                                            <i class="fas fa-sign-out-alt"></i> Sair
                                        <% end%>
                                    <% end %>
                                </div>
                                <img src="<%= asset_path('images/logo-mobile.png') %>" style="margin-left: 10px;" alt="small logo">
                            </div>

                        </div>
                    </div>
                <% end %>
                <!-- ========== Topbar End ========== -->

                <div class="content">

                    <!-- Start Content-->
                    <div class="container-fluid">
                        
                         <%= yield %>
                        
                    </div> <!-- container -->

                </div> <!-- content -->

                <!-- Footer Start -->
                <footer class="footer">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-6">
                                <div><script>document.write(new Date().getFullYear())</script> © Okueca - <a data-turbo="false" href="https://www.instagram.com/okueca/" target="_blank">Check out our services</a></div>
                            </div>
                        </div>
                    </div>
                </footer>
                <!-- end Footer -->

            </div>

            <!-- ============================================================== -->
            <!-- End Page content -->
            <!-- ============================================================== -->


        </div>
        <!-- END wrapper -->

       

        <!-- Vendor js -->
        <script src="<%= asset_path('vendor.min.js') %>"></script>

        <!-- Plugins js-->
        <script src="<%= asset_path('libs/flatpickr/flatpickr.min.js') %>"></script>
        <script src="<%= asset_path('libs/selectize/js/standalone/selectize.min.js') %>"></script>

        <!-- App js-->
        <script src="<%= asset_path('app.min.js') %>"></script>

  </body>
</html>
